{% block title %}人生苦短，我用Python！{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">切换导航页面</span>
    <span class="icon-bar">AAA</span>
    <span class="icon-bar">BBB</span>
    <span class="icon-bar">CCC</span>
    </button>
    <a class="navbar-brand" href="/">人生苦短，我用Python！</a>
    </div>
    <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>
            <a href="/">主页</a>
        </li>
    </ul>
    </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}